<h1><span class="temp_edit_label">BHCMSLABEL.temp_edit_label</span><%= @template.id.to_s + ".html" %></h1>

<%= render 'form' %>

<%= link_to 'Show', @template, :class => 'classname Showtemp_button' %> |
<%= link_to 'Back', templates_path, :class => 'classname Back_button' %>
