<center><h1 class="login_page_label">BHCMSLABEL.login_page_label</h1></center>
<div align="center"><img src="/assets/baitalhikuma.gif"></img></div>
<div align="center">
<%= render 'form' %>

<%= link_to 'Forgot Password?', new_password_reset_path, :class => 'classname Forgotpass_label' %></div>